*.sbt
!build.sbt
.cache-main
.cache-tests
target
target/
lib_managed
src_managed
resource_managed
.history
.cache
daffodil-core/errors
daffodil-lib/errors
daffodil-lib/bin
daffodil-propgen/errors
daffodil-test/errors
errors
project/errors
.~*#
testData_OnClassPath
out
.scala_dependencies
.settings
daffodil-extra/*
# ignore all emacs backup files
*~
#
# For IntelliJ IDEA
#
# (Not keeping these for now. But if someone starts using IntelliJ heavily
# this could be changed.)
#
.idea
.idea_modules
*.iml
#
# For ECLIPSE
#
# This is a bit odd. These files for the patterns below
# don't exist in the file system
# but eclipse has its own kind of internal resource links to them
# and when EGit (eclipse's git interface) looks for files to say, commit
# it constructs paths using its own resource links, and then 
# uses .gitignore to work out the ones it isn't to use.
# so this helps with using git from eclipse.
#
# The eclipse-projects directories are supposed to just be 
# eclipse project .project and .classpath files as far as
# git is concerned. However, they will have src folders
# if they are split into main and unittest projects.
eclipse-projects/*/src/main
eclipse-projects/*/src/test
eclipse-projects/*/bin/
eclipse-projects/*/.tmpBin/
#
# FOR EMACS ENSIME
#
.ensime_cache
# these are autosave emacs files
\#*#
.\#*
.\#.*
